[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
coverage = "*"
django-bootstrap-v5 = "*"
django = "*"
pillow = "*"
django-bootstrap5 = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
cov = "coverage run --source=unifood_app manage.py test unifood_app.tests"
cov_models = "coverage run --source=unifood_app manage.py test unifood_app.tests.models"
cov_views = "coverage run --source=unifood_app manage.py test unifood_app.tests.views"
cov_report = "coverage report"
cov_html = "coverage html"