[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
coverage = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
cov = "coverage run --source=unifood_app manage.py test unifood_app.tests"
cov_report = "coverage report"