<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documento</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/custom_alert.css' %}">
</head>

    </div>
    {% endif %}
    <div class="container d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
        {% block content %}
        {% endblock %}
    </div>
